PORT=3000

DB_HOST=mariadb
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=change_me
DB_NAME=iot_backend

MQTT_URL=mqtt://mqtt:1883
MQTT_TOPIC=devices/temperature

MARIADB_ROOT_PASSWORD=change_me
MARIADB_DATABASE=iot_backend
